<div id="jumbo" class="p-6 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">512 Things 4 U</h1>
    <p>512 Things 4 U. A website for people visiting Austin and are wanna be Austinites. Restaurants, Murals, Landmarks and more. <br></p>
  </div>
</div>