#jumbo {
  background: url(../img/atxjumbotronfinal.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 10rem;
}

#jumbo {
  margin-bottom: 20px;
  p,h1{
    opacity: 0.1;
  }
}

