.container{
  h1{
    font-family: 'Volkhov', serif;
  }
}
  h4{
    text-align: center;
    font-family: 'Volkhov', serif;
    font-weight: bolder;
  }
.card-body{
  h6{
    font-style: italic;
    font-family: 'Volkhov', serif;
  }
  p{
    font-family: 'Volkhov', serif;
  }
}